In [35]:
import pandas as pd
df = pd.read_csv("x1_full.csv")
# Create a backup column just in case
df['old_id'] = df['id']
# Reassign new sequential IDs (matches LeetCode real order)
df['id'] = range(1, len(df) + 1)
# Fix the title numbers to match the new IDs
def fix_title(row):
    title_text = row["title"].split(". ", 1)[-1] if ". " in row["title"] else row["title"]
    return f"{row['id']}. {title_text}"
df['title'] = df.apply(fix_title, axis=1)
# Optional sanity check
print(df[['old_id', 'id', 'title']].head(10))
print(df[['old_id', 'id', 'title']].tail(10))
# Save corrected dataset
df.to_csv("x1_fixed_ids.csv", index=False)

   old_id  id                                              title
0       1   1                                         1. Two Sum
1       2   2                                 2. Add Two Numbers
2       3   3  3. Longest Substring Without Repeating Characters
3       4   4                     4. Median of Two Sorted Arrays
4       5   5                   5. Longest Palindromic Substring
5       6   6                               6. Zigzag Conversion
6       7   7                                 7. Reverse Integer
7       8   8                        8. String to Integer (atoi)
8       9   9                               9. Palindrome Number
9      10  10                    10. Regular Expression Matching
      old_id    id                                              title
3696    4039  3697               3697. Compute Decimal Representation
3697    4015  3698          3698. Split Array With Minimum Difference
3698    3962  3699                    3699. Number of ZigZag Arrays I
3699    3964  3700                   3700. Number of ZigZag Arrays II
3700    4058  3701                      3701. Compute Alternating Sum
3701    4033  3702  3702. Longest Subsequence With Non-Zero Bitwis...
3702    4019  3703                 3703. Remove K-Balanced Substrings
3703    4049  3704            3704. Count No-Zero Pairs That Sum to N
3704    4091  3705                   3705. Find Golden Hour Customers
3705    4070  3706  3706. Maximum Distance Between Unequal Words i...

In [36]:
# Suppress warnings to enhance the code output clarity
import warnings
warnings.filterwarnings("ignore")

In [38]:
# Read the scraped data from the CSV file into a DataFrame
df = pd.read_csv('x1_fixed_ids.csv')
dff = df.copy()

In [39]:
# Display a random sample of 10 rows from the DataFrame
df.sample(10)

,id,is_premium,title,topic_tags,difficulty,similar_questions,no_similar_questions,acceptance,accepted,submission,discussion_count,likes,dislikes,problem_URL,old_id
534,535,False,535. Encode and Decode TinyURL,"['Hash Table', 'String', 'Design', 'Hash Funct...",Medium,[],0,86.475136,296090,342399,57,2105,3815,https://leetcode.com/problems/encode-and-decod...,535
1829,1830,False,1830. Minimum Number of Operations to Make Str...,"['Math', 'String', 'Combinatorics']",Hard,[],0,50.530556,5143,10178,4,185,131,https://leetcode.com/problems/minimum-number-o...,1941
681,682,False,682. Baseball Game,"['Array', 'Stack', 'Simulation']",Easy,['Crawler Log Folder'],1,79.504297,519974,654020,69,3212,1954,https://leetcode.com/problems/baseball-game/,682
874,875,False,875. Koko Eating Bananas,"['Array', 'Binary Search']",Medium,"['Minimize Max Distance to Gas Station', 'Maxi...",5,49.205889,1308544,2659324,624,12862,853,https://leetcode.com/problems/koko-eating-bana...,907
2069,2070,False,2070. Most Beautiful Item for Each Query,"['Array', 'Binary Search', 'Sorting']",Medium,"['Closest Room', 'Find the Score of All Prefix...",3,62.057050,126965,204594,137,1255,45,https://leetcode.com/problems/most-beautiful-i...,2179
1596,1597,True,1597. Build Binary Expression Tree From Infix ...,"['String', 'Stack', 'Tree', 'Binary Tree']",Hard,"['Basic Calculator III', 'Check If Two Express...",2,62.580059,14460,23107,2,271,48,https://leetcode.com/problems/build-binary-exp...,1736
2336,2337,False,2337. Move Pieces to Obtain a String,"['Two Pointers', 'String']",Medium,"['Valid Parentheses', 'Swap Adjacent in LR Str...",2,56.776000,144814,255062,127,1438,81,https://leetcode.com/problems/move-pieces-to-o...,2414
963,964,False,964. Least Operators to Express Number,"['Math', 'Dynamic Programming', 'Memoization']",Hard,[],0,48.504726,11905,24544,4,326,71,https://leetcode.com/problems/least-operators-...,1004
2965,2966,False,2966. Divide Array Into Arrays With Max Differ...,"['Array', 'Greedy', 'Sorting']",Medium,[],0,78.814969,276304,350573,271,1156,220,https://leetcode.com/problems/divide-array-int...,3241
3533,3534,False,3534. Path Existence Queries in a Graph II,"['Array', 'Two Pointers', 'Binary Search', 'Dy...",Hard,[],0,23.739815,3438,14482,13,44,1,https://leetcode.com/problems/path-existence-q...,3852

In [40]:
# Display concise information about the DataFrame, including the data types and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3706 non-null   int64
 1   is_premium            3706 non-null   bool
 2   title                 3706 non-null   object
 3   topic_tags            3706 non-null   object
 4   difficulty            3706 non-null   object
 5   similar_questions     3706 non-null   object
 6   no_similar_questions  3706 non-null   int64
 7   acceptance            3706 non-null   float64
 8   accepted              3706 non-null   int64
 9   submission            3706 non-null   int64
 10  discussion_count      3706 non-null   int64
 11  likes                 3706 non-null   int64
 12  dislikes              3706 non-null   int64
 13  problem_URL           3706 non-null   object
 14  old_id                3706 non-null   int64
dtypes: bool(1), float64(1), int64(8), object(5)
memory usage: 409.1+ KB

In [41]:
# Count the number of duplicated rows in the DataFrame
df.duplicated().sum()

np.int64(0)

In [42]:
# Count the number of missing values in each column of the DataFrame
df.isnull().sum()

id                      0
is_premium              0
title                   0
topic_tags              0
difficulty              0
similar_questions       0
no_similar_questions    0
acceptance              0
accepted                0
submission              0
discussion_count        0
likes                   0
dislikes                0
problem_URL             0
old_id                  0
dtype: int64

In [43]:
# Get the unique values in the `is_premium` column.
df['is_premium'].unique()

array([False,  True])

In [44]:
#  Check the number of missing values in the `is_premium` column.
df['is_premium'].isnull().sum()

np.int64(0)

In [45]:
# Replace all missing values in the `is_premium` column with `True`.
df['is_premium'].fillna(True, inplace=True)

In [46]:
# Get the number of premium and non-premium questions in the DataFrame.
df['is_premium'].value_counts()

is_premium
False    2970
True      736
Name: count, dtype: int64

In [47]:
# Get the data type of the 'is_premium' column.
df['is_premium'].dtype

dtype('bool')

In [48]:
#  Check the number of missing values in the `topic_tags` column.
df['topic_tags'].isnull().sum()

np.int64(0)

In [49]:
# The `selected_ids` list contains a set of LeetCode question IDs
# that are all related to JavaScript
# Number of `selected_ids` is 37
selected_ids = [2693, 2694, 2695, 2703, 2704, 2705, 2715, 2721, 2722, 2723, 2724,
2725, 2726, 2727, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626,
2627, 2629, 2630, 2631, 2634, 2635, 2637, 2648, 2649, 2650, 2665, 2666, 2667, 2677]

In [50]:
# Assign "JavaScript" topic tag to rows where title starts with selected IDs.
df.loc[df['title'].str.split('.').apply(lambda x: x[0]).astype('int').isin(selected_ids), 'topic_tags'] = "JavaScript"

In [51]:
# The `selected_ids` list contains a set of LeetCode question IDs
# that are all related to Pandas
# Number of `selected_ids` is 15
selected_ids = [2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885, 2886, 2887,
2888, 2889, 2890, 2891]

In [52]:
# Assign "Pandas" topic tag to rows where title starts with selected IDs.
df.loc[df['title'].str.split('.').apply(lambda x: x[0]).astype('int').isin(selected_ids), 'topic_tags'] = "Pandas"

In [53]:
#  Check the number of missing values in the `topic_tags` column.
df['topic_tags'].isnull().sum()

np.int64(0)

In [54]:
# Count the number of null values in the 'similar_questions'
df['similar_questions'].isnull().sum()

np.int64(0)

In [55]:
# Set an empty string for 'similar_questions' where 'is_premium' is False and 'similar_questions' is null
df.loc[(df['is_premium'] == False) & df['similar_questions'].isnull(), 'similar_questions'] = ''

In [56]:
# Count the number of null values in the 'similar_questions'
df['similar_questions'].isnull().sum()

np.int64(0)

In [57]:
# Count the number of null values in each column
df.isnull().sum()

id                      0
is_premium              0
title                   0
topic_tags              0
difficulty              0
similar_questions       0
no_similar_questions    0
acceptance              0
accepted                0
submission              0
discussion_count        0
likes                   0
dislikes                0
problem_URL             0
old_id                  0
dtype: int64

In [58]:
# Retrieve the 'title' column
df['title']

0                                              1. Two Sum
1                                      2. Add Two Numbers
2       3. Longest Substring Without Repeating Characters
3                          4. Median of Two Sorted Arrays
4                        5. Longest Palindromic Substring
                              ...
3701    3702. Longest Subsequence With Non-Zero Bitwis...
3702                   3703. Remove K-Balanced Substrings
3703              3704. Count No-Zero Pairs That Sum to N
3704                     3705. Find Golden Hour Customers
3705    3706. Maximum Distance Between Unequal Words i...
Name: title, Length: 3706, dtype: object

In [59]:
# Extract the numerical part from the 'title' column by
# splitting at '.' and converting to integers
df['title'].str.split('.').apply(lambda x: x[0]).astype('int')

0          1
1          2
2          3
3          4
4          5
        ...
3701    3702
3702    3703
3703    3704
3704    3705
3705    3706
Name: title, Length: 3706, dtype: int64

In [60]:
# Extract numeric values from 'title' column, convert to integers,
# and assign to a new 'id' column
df['id'] = df['title'].str.split('.').apply(lambda x: x[0]).astype('int')

In [61]:
df['page_number'] = pd.cut(df['id'], bins=range(1, 3002, 50), include_lowest=True, right=False).apply(lambda x: (x.left//50)+1)

In [63]:
# Retrieve the 'similar_questions' column
df['similar_questions']

0       ['3Sum', '4Sum', 'Two Sum II - Input Array Is ...
1       ['Multiply Strings', 'Add Binary', 'Sum of Two...
2       ['Longest Substring with At Most Two Distinct ...
3                  ['Median of a Row Wise Sorted Matrix']
4       ['Shortest Palindrome', 'Palindrome Permutatio...
                              ...
3701                                                   []
3702                                                   []
3703                                                   []
3704                                                   []
3705                                                   []
Name: similar_questions, Length: 3706, dtype: object

In [64]:
# Performing string manipulation on the 'similar_questions' column in the DataFrame 'df':
# Removing single quotes and then splitting the string into a list using ', ' as the delimiter.
df['similar_questions'].str.split(", ")

0       [['3Sum', '4Sum', 'Two Sum II - Input Array Is...
1       [['Multiply Strings', 'Add Binary', 'Sum of Tw...
2       [['Longest Substring with At Most Two Distinct...
3                [['Median of a Row Wise Sorted Matrix']]
4       [['Shortest Palindrome', 'Palindrome Permutati...
                              ...
3701                                                 [[]]
3702                                                 [[]]
3703                                                 [[]]
3704                                                 [[]]
3705                                                 [[]]
Name: similar_questions, Length: 3706, dtype: object

In [65]:
# Removing single quotes from the 'similar_questions' column in the DataFrame 'df'
# and then splitting the string into a list using ', ' as the delimiter.
df['similar_questions'] = df['similar_questions'].str.split(", ")

In [66]:
# Applying a lambda function to the 'similar_questions' column in the DataFrame 'df':
# Counting the number of elements in each list (if it is a list and the first element is not an empty string), otherwise returning 0.
df['similar_questions'].apply(lambda x: len(x) if isinstance(x,list) and x[0]!='' else 0)

0       21
1        8
2       11
3        1
4        6
        ..
3701     1
3702     1
3703     1
3704     1
3705     1
Name: similar_questions, Length: 3706, dtype: int64

In [67]:
# Creating a new column 'no_similar_questions' in the DataFrame 'df':
# Assigning the count of elements in each list from the 'similar_questions' column, or 0 if it's not a list.
df['no_similar_questions'] = df['similar_questions'].apply(lambda x: len(x) if isinstance(x,list) and x!=[''] else 0)

In [68]:
# Setting 'no_similar_questions' to pd.NA for rows where 'is_premium' is True
# and 'no_similar_questions' is 0.
df.loc[(df['is_premium'] == True) & (df['no_similar_questions'] == 0), 'no_similar_questions'] = pd.NA

In [70]:
# Retrieve specific columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes']
# from the DataFrame 'df'
df[['acceptance','accepted','submission','discussion_count','likes','dislikes']]

      acceptance  accepted  submission  discussion_count  likes  dislikes
0      56.406549  19108936    33877188              1613  64771      2393
1      47.094042   6289173    13354487               982  35004      6995
2      37.706460   8276601    21950095               713  43307      2116
3      44.915827   3752102     8353652               815  31042      3489
4      36.566340   4214344    11525218               520  31637      1949
...          ...       ...         ...               ...    ...       ...
3701   36.389238     26612       73132                36     76         6
3702   31.379417     15228       48533                31     90        11
3703   10.873970      3113       28626                15     31         3
3704   42.001409       596        1419                 7     16         1
3705   81.901840       266         324                 3      2         2

[3706 rows x 6 columns]

In [71]:
# Displaying information about selected columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes']
# in the DataFrame 'df'.
df[['acceptance','accepted','submission','discussion_count','likes','dislikes']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   acceptance        3706 non-null   float64
 1   accepted          3706 non-null   int64
 2   submission        3706 non-null   int64
 3   discussion_count  3706 non-null   int64
 4   likes             3706 non-null   int64
 5   dislikes          3706 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 173.8 KB

In [73]:
# Stripping the percentage sign from the 'acceptance' column in the DataFrame 'df'
# and converting the values to floating-point numbers.
df['acceptance'] = pd.to_numeric(df['acceptance'], errors='coerce')

In [75]:
# --- Helper function to handle both numeric and string values ---
def convert_km_to_int(series):
    """
    Converts columns like '1.2K' or '1.1M' to integers.
    Works safely even if column is already numeric.
    """
    if series.dtype == 'O':  # object dtype => maybe strings
        series = (
            series.astype(str)
            .str.replace('K', 'e3', regex=False)
            .str.replace('M', 'e6', regex=False)
        )
    return pd.to_numeric(series, errors='coerce').astype('Int32')

df['acceptance'] = pd.to_numeric(df['acceptance'], errors='coerce')
df['accepted'] = convert_km_to_int(df['accepted'])
df['submission'] = convert_km_to_int(df['submission'])
df['discussion_count'] = convert_km_to_int(df['discussion_count'])
df['likes'] = convert_km_to_int(df['likes'])
df['dislikes'] = convert_km_to_int(df['dislikes'])

# --- Derived metrics ---
df['acceptance_rate'] = (df['accepted'] / (df['submission'] + 1) * 100).round(2)
df['like_ratio'] = (df['likes'] / (df['likes'] + df['dislikes'] + 1)).round(2)
df['num_tags'] = df['topic_tags'].apply(len)
df['is_popular'] = df['likes'] > df['likes'].median()

In [78]:
# Displaying selected columns ['acceptance', 'accepted', 'submission', 'solution', 'discussion_count', 'likes', 'dislikes'] from the DataFrame 'df'

df[['acceptance','accepted','submission','discussion_count','likes','dislikes']]

      acceptance  accepted  submission  discussion_count  likes  dislikes
0      56.406549  19108936    33877188              1613  64771      2393
1      47.094042   6289173    13354487               982  35004      6995
2      37.706460   8276601    21950095               713  43307      2116
3      44.915827   3752102     8353652               815  31042      3489
4      36.566340   4214344    11525218               520  31637      1949
...          ...       ...         ...               ...    ...       ...
3701   36.389238     26612       73132                36     76         6
3702   31.379417     15228       48533                31     90        11
3703   10.873970      3113       28626                15     31         3
3704   42.001409       596        1419                 7     16         1
3705   81.901840       266         324                 3      2         2

[3706 rows x 6 columns]

In [79]:
# Displaying the shape (number of rows and columns) of the DataFrame 'df'
df.shape

(3706, 20)

In [83]:
# Arrangement of columns
column_order = [
    'id',
    'page_number',
    'is_premium',
    'title',
    'topic_tags',
    'difficulty',
    'similar_questions',
    'no_similar_questions',
    'acceptance',
    'accepted',
    'submission',
    'discussion_count',
    'likes',
    'dislikes',
    'problem_URL',
]

In [84]:
# Check number of columns
len(column_order)

15

In [85]:
# Column Rearrangement
df = df[column_order]

In [86]:
# Information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3706 non-null   int64
 1   page_number           3000 non-null   category
 2   is_premium            3706 non-null   bool
 3   title                 3706 non-null   object
 4   topic_tags            3706 non-null   object
 5   difficulty            3706 non-null   object
 6   similar_questions     3706 non-null   object
 7   no_similar_questions  3706 non-null   float64
 8   acceptance            3706 non-null   float64
 9   accepted              3706 non-null   Int32
 10  submission            3706 non-null   Int32
 11  discussion_count      3706 non-null   Int32
 12  likes                 3706 non-null   Int32
 13  dislikes              3706 non-null   Int32
 14  problem_URL           3706 non-null   object
dtypes: Int32(5), bool(1), category(1), float64(2), int64(1), object(5)
memory usage: 332.0+ KB

In [87]:
# Displaying the count of null values for columns with non-zero null counts
# in the DataFrame 'df'

df.isnull().sum()[df.isnull().sum()!=0]

page_number    706
dtype: int64

In [88]:
# Saving the preprocessed DataFrame 'df'
# to a CSV file named 'preprocessed_data.csv' without including the index.
df.to_csv('preprocessed_data.csv', index=None)

In [89]:
pd.read_csv('preprocessed_data.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706 entries, 0 to 3705
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3706 non-null   int64
 1   page_number           3000 non-null   float64
 2   is_premium            3706 non-null   bool
 3   title                 3706 non-null   object
 4   topic_tags            3706 non-null   object
 5   difficulty            3706 non-null   object
 6   similar_questions     3706 non-null   object
 7   no_similar_questions  3706 non-null   float64
 8   acceptance            3706 non-null   float64
 9   accepted              3706 non-null   int64
 10  submission            3706 non-null   int64
 11  discussion_count      3706 non-null   int64
 12  likes                 3706 non-null   int64
 13  dislikes              3706 non-null   int64
 14  problem_URL           3706 non-null   object
dtypes: bool(1), float64(3), int64(6), object(5)
memory usage: 409.1+ KB